{% extends 'base.html' %}


{% block content %}


{% if df_html == []%}
<div class="container mt-5">
    <h1>Search Results</h1>
    <p style="margin-bottom: 30px;"></p> 

    <h5>
        <b>Channel:</b> 
        <small class="text-body-secondary">{{ channel_name }}</small>
    </h5>

    <h5>
        <b>Keyword:</b> 
        <small class="text-body-secondary">{{ search_keyword }}</small>
    </h5>

    </h5>
        <b>Count:</b> 
        <small class="text-body-secondary">{{ count_list[0] }}</small>
    </h5> 

    <p style="margin-bottom: 30px;"></p>
        <!-- Back button to return to the search form -->
        <a href="{{ url_for('channelsearch') }}">Back to Search</a>
        <p style="margin-bottom: 25px;"></p> 
</div>
<p style="margin-bottom: 30px;"></p>

{% else %}
    <div class="container mt-5">
        <h1>Search Results</h1>

        <h5>
            <b>Channel:</b> 
            <small class="text-body-secondary">{{ channel_name }}</small>
        </h5>
        
        <h5>
            <b>Keyword:</b> 
            <small class="text-body-secondary">{{ search_keyword }}</small>
        </h5>
        <p style="margin-bottom: 30px;"></p>

        {% for table, title, keyword_count in zip(df_html, titles_list, count_list) %}
            <h5>
               <b>Video Title:</b> 
               <small class="text-body-secondary">{{ title }}</small>
            </h5>
            </h5>
               <b>Count:</b> 
               <small class="text-body-secondary">{{ keyword_count }}</small>
            </h5>
            <p style="margin-bottom: 5px;"></p>
            <div class="table-responsive" style="text-align: center">
               {{ table | safe }}
            </div>
            <p style="margin-bottom: 30px;"></p>
        {% endfor %}

        <p style="margin-bottom: 25px;"></p>
        <!-- Back button to return to the search form -->
        <a href="{{ url_for('channelsearch') }}">Back to Search</a>
        <p style="margin-bottom: 25px;"></p>
    </div>
{% endif %}


{% endblock %}