{% extends 'base.html' %}


{% block content %}


{% if df_html == [] or df_html == None %}   
{% else %}
    <div class="container mt-5">
        <h1>Search Results</h1>
        <p style="margin-bottom: 30px;"></p>
        <h5>
          <b>Video Title:</b> 
          <small class="text-body-secondary">{{ title }}</small>
        </h5>
        <h5>
          <b>Keyword:</b> 
          <small class="text-body-secondary">{{ search_keyword }}</small>
        </h5>
        <h5>
          <b>Count:</b> 
          <small class="text-body-secondary">{{ keyword_count }}</small>
        </h5>
        <p style="margin-bottom: 30px;"></p>
        
        <div class="table-responsive" style="text-align: center">
            {{ df_html | safe }}
        </div>
    
    <p style="margin-bottom: 25px;"></p>
    <!-- Back button to return to the search form -->
    <a href="{{ url_for('home') }}">Back to Search</a>
    <p style="margin-bottom: 25px;"></p>
    </div>
{% endif %}


{% endblock %}